##### Print statement

In [1]:
print('Hello world')

Hello world

In [2]:
x = 10
print('The value of x is', x)

The value of x is 10

In [3]:
name = 'Tom'
age = 28

In [4]:
print(name,' is ', age, ' years old')

Tom  is  28  years old

In [5]:
print(f'{name} is {age} years old')

Tom is 28 years old

#### Getting input from user

In [6]:
name=input('Enter your name')
name

Enter your name Thomas

'Thomas'

In [7]:
age=int(input('Enter your age:'))
age

Enter your age: 25

25

#### Conditional statements

In [8]:
x = 25

In [9]:
if x > 10 :
    print('x is greater than 10')

x is greater than 10

In [10]:
x=19
if x>10:
    print('x is greater than 10')
    print('Hi')
else:
    print('x is not greater than 10')
    print('Hello')
print('Done')

x is greater than 10
Hi
Done

In [11]:
x=-1
if x>0:
    print('Wow! You are so positive!')
    print('Keep it up')
else:
    print('Why are you so negative?')
    print('Cheer Up')

Why are you so negative?
Cheer Up

In [12]:
#i did this  example
x=15
if x>10:
    print('You have greater taste')
    print('Enjoy your Icecream ')
else:
    print('sum we only have')
    print('Chocalate')

You have greater taste
Enjoy your Icecream

In [13]:
flavour=input('Enter your fav flavour:').lower()
flavour

Enter your fav flavour: Chocolate

'chocolate'

In [14]:
if flavour=='chocolate':
    print('You have great taste!')
    print('Enjoy your ice cream')
else:
    print('sorry, we only have Chocolate')

You have great taste!
Enjoy your ice cream

In [15]:
user=input('Enter a username:')

Enter a username: Bob123

In [16]:
if'#' in user or '$' in user:
    print('Username cannot have special characters')
else:
    print('Registration successful!')

Registration successful!

#### if-elif

In [17]:
day = int(input('Enter a day:'))
day

Enter a day: 6

6

In [18]:
if day == 1:
    print('Monday')
elif day == 2:
    print('Tuesday')
elif day == 3:
    print('Wednesday')
elif day == 4:
    print('Thursday')
elif day == 5:
    print('Friday')
elif day == 6 or day == 7:
    print('Weekend!!!')
else:
    print('No such day!')

Weekend!!!

In [19]:
time = input('Enter the time of day:').lower()

if time == 'Morning':
    print('It is for breakfast time.')
elif time == 'noon':
    print('It is lunch time.')
elif time == 'night':
    print('Itis dinner time.')
else:
    print('It is snack time')
print('Let us eat....')

Enter the time of day: evening

It is snack time
Let us eat....

In [20]:
mark = int(input('Enter your marks:'))

if mark >= 80:
    res = 'Distinction'
elif mark >= 60 and mark < 80:
    res = 'First class'
elif mark>= 40 and mark < 60:
    res = 'Second class'
else:
    res ='Failed'
print('The grade is :', res)

Enter your marks: 26

The grade is : Failed

In [21]:
mark = int(input('Enter your marks:'))

if mark >= 80:
    res = 'Distinction'
elif mark >= 60:
    res = 'First class'
elif mark >= 40:
    res = 'Second class'
else:
    res ='Failed'
print('The grade is :', res)

Enter your marks: 87

The grade is : Distinction

#### Loops in python

In [22]:
mark_list = [34,56,77,89,76,45]

for mark in mark_list:
    if mark >= 80:
        res ='Distinction'
    elif mark >= 60:
        res ='First Class'
    elif mark >= 40:
        res ='Second Class'
    else:
        res ='Failed'
    print('The grade is:', res)

The grade is: Failed
The grade is: Second Class
The grade is: First Class
The grade is: Distinction
The grade is: First Class
The grade is: Second Class

In [23]:
names=['Thomas','George','Peter','Hugh','Brian','Meghan']
mark_list=[34,56,77,89,76,45]

In [24]:
type(zip(names, mark_list))

zip

In [25]:
for item in zip(names,mark_list):
    print(item)

('Thomas', 34)
('George', 56)
('Peter', 77)
('Hugh', 89)
('Brian', 76)
('Meghan', 45)

In [26]:
for item in zip(names,mark_list):
    print(item)
    name=item[0]
    mark=item[1]
    print(name,mark)

('Thomas', 34)
Thomas 34
('George', 56)
George 56
('Peter', 77)
Peter 77
('Hugh', 89)
Hugh 89
('Brian', 76)
Brian 76
('Meghan', 45)
Meghan 45

In [27]:
for item in zip(names,mark_list):
    name=item[0]
    mark=item[1]
    if mark >= 80:
        res ='Distinction'
    elif mark >= 60:
        res ='First Class'
    elif mark >= 40:
        res ='Second Class'
    else:
        res ='Failed'
    print(f"{name}'s grade is:', {res}")

Thomas's grade is:', Failed
George's grade is:', Second Class
Peter's grade is:', First Class
Hugh's grade is:', Distinction
Brian's grade is:', First Class
Meghan's grade is:', Second Class

In [28]:
for i in range(3):
    print('hello',i)

hello 0
hello 1
hello 2

In [29]:
for i in range(1,4):
    print('Hello',i)

Hello 1
Hello 2
Hello 3

In [30]:
for i in range (0,101,10):
    print('Hello',i)

Hello 0
Hello 10
Hello 20
Hello 30
Hello 40
Hello 50
Hello 60
Hello 70
Hello 80
Hello 90
Hello 100

In [31]:
for i in range(1,6):
    print(i*'* ')

*
* *
* * *
* * * *
* * * * *

In [32]:
for i in range(1,6):
    print(i*'* ')

*
* *
* * *
* * * *
* * * * *

#### While loop

In [33]:
x=1
while x <4:
    print('Hello', x)
    x = x+1

Hello 1
Hello 2
Hello 3

In [34]:
for i in range(1,100):
    print(i*'* ')
    if i == 10:
        break;
print('Outside the loop')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
Outside the loop

In [35]:
x = 1
while x < 100:
    print('Hello', x)
    x = x + 1
    if x == 5:
        break
print('Outside the loop')

Hello 1
Hello 2
Hello 3
Hello 4
Outside the loop

In [36]:
x = 1
while True:
    print('Hello', x)
    x = x + 1
    if x == 5:
        break
print('Outside the loop')

Hello 1
Hello 2
Hello 3
Hello 4
Outside the loop

In [37]:
for i in range(3):
    num = int(input('Enter number between 1-10'))

Enter number between 1-10 1
Enter number between 1-10 2
Enter number between 1-10 3

In [38]:
for i in range(3):
    num = int(input('Enter number between 1-10'))
    if num == 7:
        print('You won the JACKPOT!!!')
        break
    else:
        print('Sorry!...Try again')

Enter number between 1-10 1

Sorry!...Try again

Enter number between 1-10 7

You won the JACKPOT!!!

In [39]:
x = 1
while x < 4:
    num = int(input('Enter number between 1-10'))
    x = x+1
    if num == 7:
        print('You won the JACKPOT!!!')
        break

Enter number between 1-10 4
Enter number between 1-10 7

You won the JACKPOT!!!

#### List Comprehension

In [40]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [41]:
new_list=[]

for x in l1:
    new_list.append(x**2)

print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
sqr_list=[x**2 for x in l1]
sqr_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
list_100=[x*100 for x in l1]
list_100

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [44]:
for i in range (1,rows+1):
    print(' ' *(rows-i),end='')
    print('*' *(2 * i-1))

NameError: name 'rows' is not defined

In [ ]:
rows=5
for i in range(1, rows+1):
    print(' ' * (rows-1) + '*' * (2 * i-1))

#### Function

In [ ]:
def print_line():
    print('_'*10)

In [ ]:
print_line()

In [ ]:
def print_line(len):
    print('_'*len)

In [ ]:
print_line(10)

In [ ]:
def sqrt(x):
    sr = x ** 0.5
    return sr

In [ ]:
res =sqrt(9)
res

In [ ]:
def avg(x,y):
    res=(x+y)/2
    return res

In [ ]:
avg(99,87)

In [ ]:
l1=[4,7,9]

In [ ]:
sum(l1)/len(l1)

In [ ]:
def average(lst):
    avg = sum(lst)/len(lst)
    return avg

In [ ]:
average([4,7,9])

In [ ]:
def grade_of(mark):
    if mark >= 80:
       res = 'Distinction'
    elif mark >= 60:
       res = 'First class'
    elif mark >= 40:
       res = 'Second class'
    else:
       res ='Failed'
    return res

In [ ]:
mygrade=grade_of(45)
mygrade

In [ ]:
def pyramid(rows):
    for i in range(1, rows + 1):
        print(' ' *(rows-1) + '*' * (2 * i-1))
        
    for i in range (1,rows+1):
        print(' ' *(rows-i),end='')
        print('*' *(2 * i-1))

In [ ]:
pyramid(5)

In [ ]:
def grade_list(mark_list):
    '''
    Parameter: A list of numbers
    Returns: A list of drades
    '''
    grade_list = []
    for mark in mark_list:
        if mark >= 80:
            res = 'Distinction'
        elif mark >= 60 :
            res = 'First Class'
        elif mark >= 40:
            res = 'Second Class'
        else:
            res ='Failed'
        grade_list.append(res)

    return grade_list

In [ ]:
grade_list([34,56,78,89,901])

In [ ]:
#grade_list('Hello')