##### Print statement

In [1]:
print('Hello world')

Hello world

In [2]:
x = 10
print('The value fo x is ', x)

The value fo x is  10

In [3]:
name = 'Tom'
age = 28

In [4]:
print(name,' is ', age, ' years old')

Tom  is  28  years old

In [5]:
print(f'{name} is {age} years old')

Tom is 28 years old

#### Getting input from user

In [6]:
name  = input('Enter your name')
name

Enter your name hari

'hari'

In [7]:
age = int( input('Enter your age:') )
age

Enter your age: 23

23

### Conditional statements

In [8]:
x = 25

In [9]:
if x > 10 :
    print('x is greater than 10')

x is greater than 10

In [10]:
x = 19
if x > 10 :
    print('x is greater than 10')
    print('Hi')
else:
    print('x is not greater than 10')
    print('Hello')
print('Done')

x is greater than 10
Hi
Done

In [11]:
x = -1
if x > 0 :
    print('Wow! You are so positive!')
    print('Keep it up')
else:
    print('Why are you so negative?')
    print('Cheer Up')

Why are you so negative?
Cheer Up

In [12]:
flavour = input('Enter your fav flavour:').lower()
flavour

Enter your fav flavour: chocolate

'chocolate'

In [13]:
if flavour == 'chocolate':
    print('You have great taste!')
    print('Enjoy your ice cream')
else:
    print('Sorry, we only have Chocolate')

You have great taste!
Enjoy your ice cream

In [14]:
user = input('Enter a username:')

Enter a username: 2345tyhj

In [15]:
if '#' in user or '$' in user:
    print('Username cannot have special characters')
else:
    print('Registration successful!')

Registration successful!

#### if - elif

In [16]:
day = int(input('Enter a day:'))
day

Enter a day: 1

1

In [17]:
if day == 1:
    print('Monday')
elif day == 2:
    print('Tuesday')
elif day == 3:
    print('Wednesday')
elif day == 4:
    print('Thursday')
elif day == 5:
    print('Friday')
elif day == 6 or day == 7:
    print('Weekend !!!')
else:
    print('No such day!')

Monday

In [18]:
time = input('Enter the time of day:').lower()

if time == 'morning':
    print('It is breakfast time.')
elif time == 'noon':
    print('It is lunch time. ')
elif time == 'night':
    print('It is dinner time')
else:
    print('It is snack time')
print('Let us eat.....')

Enter the time of day: morning

It is breakfast time.
Let us eat.....

In [19]:
mark = int(input('Enter your mark:'))

if mark >= 80 :
    res = 'Distinction'
elif mark >= 60 and mark < 80:
    res = 'First Class'
elif mark >= 40 and mark < 60:
    res = 'Second Class'
else:
    res = 'Failed'
print('The grade is :', res)

Enter your mark: 12

The grade is : Failed

In [20]:
mark = int(input('Enter your mark:'))

if mark >= 80 :
    res = 'Distinction'
elif mark >= 60 :
    res = 'First Class'
elif mark >= 40:
    res = 'Second Class'
else:
    res = 'Failed'
print('The grade is :', res)

Enter your mark: 87

The grade is : Distinction

#### Loops in python

In [21]:
mark_list = [34,56,77,89,76,45]

for mark in mark_list:
    if mark >= 80 :
        res = 'Distinction'
    elif mark >= 60 :
        res = 'First Class'
    elif mark >= 40:
        res = 'Second Class'
    else:
        res = 'Failed'
    print('The grade is :', res)

The grade is : Failed
The grade is : Second Class
The grade is : First Class
The grade is : Distinction
The grade is : First Class
The grade is : Second Class

In [22]:
names = ['Thomas','George','Peter','Hugh','Brian','Meghan']
mark_list = [34,56,77,89,76,45]

In [23]:
type(zip(names, mark_list))

zip

In [24]:
for item in zip(names,mark_list):
    print(item)

('Thomas', 34)
('George', 56)
('Peter', 77)
('Hugh', 89)
('Brian', 76)
('Meghan', 45)

In [25]:
for item in zip(names,mark_list):
    name = item[0]
    mark = item[1]
    if mark >= 80 :
        res = 'Distinction'
    elif mark >= 60 :
        res = 'First Class'
    elif mark >= 40:
        res = 'Second Class'
    else:
        res = 'Failed'
    print(f"{name}'s grade is : {res}")

Thomas's grade is : Failed
George's grade is : Second Class
Peter's grade is : First Class
Hugh's grade is : Distinction
Brian's grade is : First Class
Meghan's grade is : Second Class

In [26]:
for i in range(3):
    print('Hello', i)

Hello 0
Hello 1
Hello 2

In [27]:
for i in range(1,4):
    print('Hello', i)

Hello 1
Hello 2
Hello 3

In [28]:
for i in range(0,101,10):
    print('Hello', i)

Hello 0
Hello 10
Hello 20
Hello 30
Hello 40
Hello 50
Hello 60
Hello 70
Hello 80
Hello 90
Hello 100

In [29]:
for i in range(1,6):
    print(i*'* ')

*
* *
* * *
* * * *
* * * * *

#### while loop

In [30]:
x= 1
while x < 4:
    print('Hello', x)
    x = x + 1

Hello 1
Hello 2
Hello 3

In [31]:
for i in range(1,100):
    print(i*'* ')
    if i == 10:
        break;
print('Outside the loop')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
Outside the loop

In [32]:
x= 1
while x < 100:
    print('Hello', x)
    x = x + 1
    if x == 5:
        break
print('Outside the loop')

Hello 1
Hello 2
Hello 3
Hello 4
Outside the loop

In [33]:
x= 1
while True:
    print('Hello', x)
    x = x + 1
    if x == 5:
        break
print('Outside the loop')

Hello 1
Hello 2
Hello 3
Hello 4
Outside the loop

In [34]:
for i in range(3):
    num = int(input('Enter number between 1-10'))
    if num == 7:
        print('You won the JACKPOT!!!')
        break
    else:
        print('Sorry!...Try again!')

Enter number between 1-10 7

You won the JACKPOT!!!

In [35]:
x = 1
while x < 4:
    num = int(input('Enter number between 1-10'))
    x = x + 1
    if num == 7:
        print('You won the JACKPOT!!!')
        break
    else:
        print('Sorry!...Try again!')

Enter number between 1-10 1

Sorry!...Try again!

Enter number between 1-10 2

Sorry!...Try again!

Enter number between 1-10 4

Sorry!...Try again!

#### List Comprehension

In [36]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [37]:
new_list = []

for x in l1:
    new_list.append(x**2)
    
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
sqr_list = [x**2 for x in l1]
sqr_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
list_100 = [x*100 for x in l1]
list_100

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [40]:
rows = 5
for i in range(1, rows + 1):
    print(' ' * (rows - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********

#### Function

In [41]:
def print_line(len):
    print('_'*len)

In [42]:
print_line(10)

__________

In [43]:
def sqrt(x):
    sr = x ** 0.5
    return sr

In [44]:
res = sqrt(9)
res

3.0

In [45]:
def avg(x,y):
    res = (x+y)/2
    return res

In [46]:
avg(10,20)

15.0

In [47]:
avg(99,87)

93.0

In [48]:
def average(lst):
    avg = sum(lst)/len(lst)
    return avg

In [49]:
average([4,7,9])

6.666666666666667

In [50]:
def grade_of(mark):
    if mark >= 80 :
        res = 'Distinction'
    elif mark >= 60 :
        res = 'First Class'
    elif mark >= 40:
        res = 'Second Class'
    else:
        res = 'Failed'
    return res

In [51]:
mygrade = grade_of(49)
mygrade

'Second Class'

In [52]:
def pyramid(rows):
    '''
    Prints a pyramid of stars
    Parameter: Integer representing no of rows
    Returns : None
    '''
    for i in range(1, rows + 1):
        print(' ' * (rows - i) + '*' * (2 * i - 1))

In [53]:
pyramid(7)

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [54]:
def grade_list(mark_list):
    '''
    Parameter: A list of numbers
    Returns: A list of grades
    '''
    grade_list = []
    for mark in mark_list:
        if mark >= 80 :
            res = 'Distinction'
        elif mark >= 60 :
            res = 'First Class'
        elif mark >= 40:
            res = 'Second Class'
        else:
            res = 'Failed'
        grade_list.append(res)
    return grade_list

In [55]:
grade_list([34,56,78,89,90])

['Failed', 'Second Class', 'First Class', 'Distinction', 'Distinction']

In [56]:
#grade_list('Hello')